.idea/*
.vscode
nexus/test
testbench/test
testbench/config.json
configure
build/
.gradle
out
*.sqlite3
*.swp
presentation/*.log
presentation/*.nav
presentation/*.aux
presentation/*.out
presentation/*.snm
presentation/*.toc
.idea/misc.xml
.idea/modules/
__pycache__
*.log
.DS_Store
*.mk
common/src/main/resources/version.txt
