.idea/*
.vscode
/nexus/bin/
/sandbox/bin/
/util/bin/
nexus/libeufin-nexus-dev
sandbox/libeufin-sandbox-dev
configure
build/
.gradle
out
*.sqlite3
*.swp
presentation/*.log
presentation/*.nav
presentation/*.aux
presentation/*.out
presentation/*.snm
presentation/*.toc
.idea/misc.xml
.idea/modules/
__pycache__
*.log
.DS_Store
*.mk
util/src/main/resources/version.txt
debian/usr/share/libeufin/demobank-ui/index.js
debian/usr/share/libeufin/demobank-ui/*.html
debian/usr/share/libeufin/demobank-ui/*.css
debian/usr/share/libeufin/demobank-ui/*.svg
