[submodule "build-system/taler-build-scripts"]
	path = build-system/taler-build-scripts
	url = https://git.taler.net/build-common.git
[submodule "contrib/wallet-core"]
	path = contrib/wallet-core
	url = https://git.taler.net/wallet-core.git
	branch = prebuilt
[submodule "doc/prebuilt"]
	path = doc/prebuilt
	url = https://git.taler.net/docs.git
	branch = prebuilt
