[Unit]
Description=LibEuFin Bank service.

[Service]
User=libeufin-bank
ExecStart=/usr/bin/libeufin-bank serve -c /etc/libeufin-bank/libeufin-bank.conf
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
