[Unit]
Description=LibEuFin Bank Server Service
After=postgres.service network.target
PartOf=libeufin-bank.target

[Service]
User=libeufin-bank
ExecStart=/usr/bin/libeufin-bank serve -c /etc/libeufin/libeufin-bank.conf
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
