[Unit]
Description=LibEuFin Nexus service.

[Service]
User=libeufin-nexus
EnvironmentFile=/etc/libeufin/nexus.env
ExecStart=/usr/bin/libeufin-nexus serve --port=${LIBEUFIN_NEXUS_PORT}
Restart=on-failure
SuccessExitStatus=143
RestartSec=1s
RuntimeMaxSec=3600s

[Install]
WantedBy=multi-user.target
