[Unit]
Description=LibEuFin Nexus service.

[Service]
ExecStart=/usr/bin/libeufin-nexus serve
Restart=on-failure
EnvironmentFile=%h/.config/libeufinnexusenv
