[Unit]
Description=LibEuFin Nexus service.

[Service]
ExecStart=/usr/bin/libeufin-nexus serve --port=$LIBEUFIN_NEXUS_PORT
Restart=on-failure
EnvironmentFile=/etc/libeufin/libeufinenv.conf
