#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

export JAVA_HOME = /usr/lib/jvm/default-java
GROOVY_HOME      = /usr/share/groovy
DEV = -dev.1

clean:
	rm -rf libeufin-$(DEB_VERSION_UPSTREAM)$(DEV)
build: build-arch build-indep
build-arch:
	true
build-indep:
	true
install:
	unzip build/distributions/libeufin-$(DEB_VERSION_UPSTREAM)$(DEV).zip
	dh_install libeufin-$(DEB_VERSION_UPSTREAM)$(DEV)/lib/nexus-0.0.1-all.jar $(GROOVY_HOME)/lib
	dh_install libeufin-$(DEB_VERSION_UPSTREAM)$(DEV)/lib/sandbox-1.0-snapshot-all.jar $(GROOVY_HOME)/lib
	dh_link $(GROOVY_HOME)/lib/gant-$(DEB_VERSION_UPSTREAM)$(DEV).jar /usr/share/java/libeufin.jar
	install -D -m755 libeufin-$(DEB_VERSION_UPSTREAM)$(DEV)/bin/libeufin-cli debian/libeufin/$(GROOVY_HOME)/bin/libeufin-cli
	install -D -m755 libeufin-$(DEB_VERSION_UPSTREAM)$(DEV)/bin/libeufin-nexus debian/libeufin/$(GROOVY_HOME)/bin/libeufin-nexus
	install -D -m755 libeufin-$(DEB_VERSION_UPSTREAM)$(DEV)/bin/libeufin-sandbox debian/libeufin/$(GROOVY_HOME)/bin/libeufin-sandbox
	dh_link $(GROOVY_HOME)/bin/libeufin-cli /usr/bin/libeufin-cli
	dh_link $(GROOVY_HOME)/bin/libeufin-nexus /usr/bin/libeufin-nexus
	dh_link $(GROOVY_HOME)/bin/libeufin-sandbox /usr/bin/libeufin-sandbox

binary:
	dh $@
binary-arch:
	dh $@
binary-indep:
	dh $@

get-orig-source:
	uscan --force-download --rename
