[Unit]
Description=LibEuFin Sandbox service.

[Service]
EnvironmentFile=/etc/libeufin/libeufinenv.conf
User=libeufin
ExecStart=/usr/bin/libeufin-sandbox serve --port=$LIBEUFIN_SANDBOX_PORT
Restart=on-failure

[Install]
WantedBy=multi-user.target
