[Unit]
Description=LibEuFin Nexus service.

[Service]
EnvironmentFile=/etc/libeufin/libeufinenv.conf
User=libeufin
ExecStart=/usr/bin/libeufin-nexus serve --port=$LIBEUFIN_NEXUS_PORT
Restart=on-failure

[Install]
WantedBy=multi-user.target
